<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
          window.onload = function() {

              var button = document.getElementById("btn");
              button.click();
          };
    </script>
</head>
<body>

<form method="POST" action="https://api.razorpay.com/v1/checkout/embedded">
    <input type="hidden" name="key_id" value="rzp_test_Tt0oK4OzD1hgTr" >
    <input type="hidden" name="amount" value="20000">
    <input type="hidden" name="order_id" value={{id}}>
    <input type="hidden" name="prefill[name]" value="Gaurav Kumar">
    <input type="hidden" name="prefill[contact]" value="9123456780">
    <input type="hidden" name="prefill[email]" value="gaurav.kumar@example.com">
    <input type="hidden" name="notes[shipping address]" value="L-16, The Business Centre, 61 Wellfield Road, New Delhi - 110001">
    <input type="hidden" name="callback_url" value="http://localhost:4569/success">
    <input type="hidden" name="cancel_url" value="http://localhost:4569/fail">
    <input type="submit" id="btn">

</form>  
</body>
</html>